body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #87CEEB, #4682B4); /* updated background color to linear sky blue */
}

.game-container {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

.game-info {
    margin-top: 20px;
}

#game-status {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#reset-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset-button:hover {
    background-color: #3e8e41;
}

.result-screen {
    display: none; /* hide result screen by default */
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#result-message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#play-again-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#play-again-button:hover {
    background-color: #3e8e41;
}

/* Mobile responsive styles */
@media only screen and (max-width: 600px) {
   .game-container {
        margin: 20px auto;
        padding: 10px;
    }
   .cell {
        width: 20px;
        height: 20px;
        margin: 2px;
    }
}